@using DWIS.Vocabulary.Development.App.Shared;
@inject IGitHubManager Manager;


<button class="btn btn-primary my-3" type="button" @onclick="()=>Manager.SyncChanges()">Sync (pull request)</button>
@code {

}
